body {
    padding: 0;
    margin: 0;
    background: cadetblue;
}

.container-fluid {
    background-color: darkgray;
}

.card {
    margin-bottom: 5px;
}

.countryCard {
    height: 400px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.countryCard img {
    width: 100%;
    height: 100%;
    width: 20rem;
    height: 12rem;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
}

.countryCard figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.country-Data {
    margin: 0;
}

.header {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(255, 153, 0);
    margin-bottom: 15px;
    font-size: 40px;
}

li {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0rem;
}
h1 {
    text-align: center;
}